name: Daily build testing

on:
  repository_dispatch:
    types: [ daily-build ]
  workflow_dispatch:
    inputs:
      date:
        description: Dev date
        required: true
      driver:
        description: Driver location
        required: true
      build:
        description: Build level
        required: true

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

jobs:
  get-guide-repos:
    runs-on: ubuntu-latest
    outputs:
      repos: ${{ steps.create-list.outputs.repos }}
    steps: 
      - uses: actions/checkout@v2
      - name: Get repos
        id: create-list
        # run: echo "::set-output name=repos::$(python3 .github/workflows/get-repos.py)"
        run: echo "::set-output name=repos::[ 'guide-getting-started', 'guide-maven-intro', 'guide-microprofile-config', 'guide-cloud-ibm' ]"
  test-guide:
    needs: [ get-guide-repos ]
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      max-parallel: 5
      matrix:
        repos: ${{ fromJson(needs.get-guide-repos.outputs.repos) }}
        jdk: [ 8, 11 ]
    steps:
      - name: Setup JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jdk }}
      - name: Clone ${{ matrix.repos }}
        uses: actions/checkout@v2
        with:
          repository: OpenLiberty/${{ matrix.repos }}
          path: ${{ matrix.repos }}
          ref: refs/heads/gh-actions
      - name: Set permissions
        run: chmod +x ${{ matrix.repos }}/scripts/*.sh
      - name: Docker login
        run: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
      - name: Run tests for ${{ matrix.repos }}
        working-directory: ${{ matrix.repos }}/finish
        env:
          BUILDLEVEL: ${{ github.event.client_payload.build-level }}${{ github.event.inputs.build }}
          DEVDATE: ${{ github.event.client_payload.dev-date }}${{ github.event.inputs.date }}
          DRIVER: ${{ github.event.client_payload.driver-location }}${{ github.event.inputs.driver }}
        run: ../scripts/dailyBuild.sh -t $DEVDATE -d $DRIVER -b $BUILDLEVEL -u $DOCKER_USERNAME
      - name: Post tests
        working-directory: ${{ matrix.repos }}
        if: always()
        run: |
          logsPath=$(sudo find . -name "console.log");
          if [ -z "$logsPath" ]
            then docker images
            else sudo cat $logsPath | grep Launching
          fi
      - name: Archive server logs if failed
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: server-logs
          path: ${{ matrix.repos }}/finish/target/liberty/wlp/usr/servers/defaultServer/logs/
  